#components_layout_demo_responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site_layout_sub_header_background {
    background: #fff;
  }
  
  .site_layout_background {
    background: #fff;
  }